<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ASIO_LoudSpeaker.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ASIO_LoudSpeaker.App" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ASIO_LoudSpeaker.Config>
            <setting name="ASIODriverName" serializeAs="String">
                <value>ASIO4ALL v2</value>
            </setting>
            <setting name="InputChannelOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OutputChannelOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="InputChannelCount" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="OutputChannelCount" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="InputSampleRate" serializeAs="String">
                <value>44100</value>
            </setting>
            <setting name="OutputSampleRate" serializeAs="String">
                <value>44100</value>
            </setting>
        </ASIO_LoudSpeaker.Config>
        <ASIO_LoudSpeaker.App>
            <setting name="ASIODriver" serializeAs="String">
                <value />
            </setting>
            <setting name="AudioInput" serializeAs="String">
                <value />
            </setting>
        </ASIO_LoudSpeaker.App>
    </userSettings>
</configuration>